In [3]:
x=10
y=7.8
print("value of x=",x,"y=",y)

value of x= 10 y= 7.8

In [4]:
print("value of x is %d and y is %f" %(x,y)) # %d is used for integer variable, %f is used for float

value of x is 10 and y is 7.800000

In [5]:
print("value of x is %d and y is %.2f" %(x,y)) # .2 means 2 decimal places

value of x is 10 and y is 7.80

In [6]:
print("value of x is %d and y is %4.2f" %(x,y))

value of x is 10 and y is 7.80

In [7]:
# conditional statements 
# if
# if-else
# simple if
x=5
if x>10:
    print("x is larger")
# if x<7:
#    print("x is smaller")

In [9]:
# if-else
num1=int(input("enter first number"))
num2=int(input("enter second number"))
if num1>num2:
    
    print("%d is greater than %d" %(num1, num2))
else:
    print("%d is greater than %d" %(num2, num1))

enter first number12
enter second number13
13 is greater than 12

In [12]:
# nested if-else, here one if-else is within another if-else
x=30
y=20
z=15
if (x>y):
    if(x>z):
        print("%d is largest" %(x))
    else:
        print("%d is the largest" %(z))
else:
    if(y>z):
        print("%d is the largest" %y)
    else:
        print("%d is the largest" %z)

30 is largest

In [14]:
x=int(input("enter first number"))
y=int(input("enter second number"))
z=int(input("enter third number"))
if (x>y):
    if(x>z):
        print("%d is largest" %(x))
    else:
        print("%d is the largest" %(z))
else:
    if(y>z):
        print("%d is the largest" %y)
    else:
        print("%d is the largest" %z)

enter first number34
enter second number56
enter third number78
78 is the largest

In [17]:
# multiway
# elif() is the function used for else-if
avg= int(input("enter your average number"))
if avg>75:
    print("you have distinction")
elif avg>=60 and avg<75:
    print("I class")
elif avg>=50 and avg<60:
    print("II class")
elif avg>=40 and avg<50:
    print("Pass")   
else:
    print("Fail")

enter your average number89
you have distinction

In [ ]:
# Looping statements
# while loop, for loop
# initial statement
# while(condition)
# enter loop statements if condition is true
# comes out of loop when the condition is false
# print numbers 1 to 10
x=1  #initialisation
while(x<=10):
    print(x)
    x=x+1
print("end of loop")

In [ ]:
i=1
sum=0
while(i<=10):
    i=i+1
print("sum is", sum)

In [ ]:
i=1
sum=0
while(i<=10):
    print("i value is", i)
    sum=sum+i
    i=i+1
    print("sum is", sum)

In [ ]:
# break
i=1
sum=0
while(i<=10):
    # print("i value is", i)
    sum=sum+i
    i=i+1
    if sum>40:
        break
print("i=",i,"sum is", sum)

In [ ]:
# use of continue
# this takes the execution to the beginning of the loop and will not execute the remaining statements
# break and continue are also called uncontional statements
i=0
sum1=0
while(i<=10):
    i=i+1
    print("i=",i)
    if i==5:
     continue   # the execution immediately moves to the beginning of the loop
                # and remaning statements in loop are executed
        sum1=sum1+i
        print("sum=", sum1)

In [ ]:
# Continue- moves the execution to the beginning of the loop
i=0
sum1=0
while(i<=10):
    i=i+1
    print("i=",i)
    if i==5:
                # the execution immediately moves to the beginning of the loop
                # and remaning statements in loop are executed
        sum1=sum1+i
        print("sum=", sum1)
        continue

In [1]:
# for loop
# syntax
# for variable_name in list_name
# list is one-dimensional and all elements are of same data type
a=[2,5,4,3,"a"]
print(a)

[2, 5, 4, 3, 'a']

In [2]:
a=[2,3,4,6,78]
for num in a:
    print(num)

2
3
4
6
78

In [3]:
fruits=["banana","apple","orange"]
for i in fruits:
    print(i)

banana
apple
orange

In [43]:
# Lists
# Has many elements in t of different data types
# List can be empty
# has one dimension
# One list can be within another list
# Lists arev mutable
x= [2,5,7,9,88]
print(x)
print(type(x))

[2, 5, 7, 9, 88]
<class 'list'>

In [5]:
y=[2,5,"hello",9,88]
print(y)
print(y[0])
print(y[1])

[2, 5, 'hello', 9, 88]
2
5

In [42]:
# to add the elemets to the existing list
y.append(100)
y.append("Sunday")
print(y)

[2, 5, 'hello', 9, 88, 100, 'Sunday']

In [10]:
100 in y

False

In [44]:
"Sunday" in y

True

In [19]:
for i in range (4, 15, 2): #starting number, upto, increment by
    print(i)

4
6
8
10
12
14

In [18]:
for i in range (4, 45, 2): #starting number, upto, increment by
    print(i)

4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44

In [31]:
for i in range (8, 30, 2): #starting number, upto, increment by
    print(i)

8
10
12
14
16
18
20
22
24
26
28

In [33]:
# find the sum of numbers from 1 to 10 using for loop and range, print the sum
sum= 0
for i in range(1, 11):
    sum +=i
print(sum)

55

In [36]:
# find sum of even numbers between 1 to 10
sum= 0
for i in range(2, 10, 2):
    sum = sum+i
print("sum of even numbers is=", sum)

sum of even numbers is= 20

In [37]:
# find sum of odd numbers between 1 to 10
sum= 0
for i in range(1, 10, 2):
    sum = sum+i
print("sum of odd numbers is=", sum)

sum of odd numbers is= 25

In [38]:
numbers= [2,5,77,55,233,22,444,667,544,66]
print(len(numbers))

10

In [39]:
sum= 0
count= 0
for i in range(1, 10, 2):
    sum = sum+i
    count=count+1
    print("count=", count, "sum=",sum)
print("sum of odd numbers is=", sum)

count= 1 sum= 1
count= 2 sum= 4
count= 3 sum= 9
count= 4 sum= 16
count= 5 sum= 25
sum of odd numbers is= 25

In [40]:
numbers= [2,5,77,55,233,22,444,667,544,66]
print(len(numbers))
# add from 2nd number till last but one
sum=0
count=0
for i in numbers:
    sum= sum+i
    count=count+1

10

In [4]:
# array all elements of same data type
# one and more than one dimentional
# numpy
import numpy as np
a1= np.array([2,3,4,78,9])
print(a1)
print("the first element is", a1[0])
print("the 2nd element is", a1[1])
length=len(a1)
print("length is", length)
print("the 2nd element is", a1[length-1]) # last element
print("the element from 2nd position to 4th position(including) is", a1[1:4])
print("the element from 2nd position to last is", a1[1:])

[ 2  3  4 78  9]
the first element is 2
the 2nd element is 3
length is 5
the 2nd element is 9
the element from 2nd position to 4th position(including) is [ 3  4 78]
the element from 2nd position to last is [ 3  4 78  9]

In [54]:
for i in a1:
    print(i)

2
3
4
78
9